/* Header */
.header{
   
    position: fixed;
    z-index: 999;
    top: 40px;
    left: 15%;
    right: 15%;


}
.header ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header ul li{
    margin-left:15px;
}
.header ul li a{
    font-size: 0.75rem;
    color: #000;
}
.header ul li a:hover{
    color: var(--second-color);
}
.header ul .bar i{
    font-size: 21px;
    display: none;
}
.header .inner-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;       
    background: #FFFFFF;
    border-radius: 35px;
}
.header .inner-main .inner-img img{
    height: 35px;
    width: auto;
}
@media (max-width: 991.98px){
   
    .header ul .bar i{
        display: block;
    }
    .header ul li:nth-child(-n+7){
        display: none;
    }
    .header .inner-main{
        padding: 15px;
    }
    
}
@media (max-width: 575.98px){
    .header{
        left:10px;
        right: 10px;
    }
}
/* End Header */

.button {
    background: #ddd;
    color: #000;
    display: inline-block;
    padding: 8px 24px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
  }
.bg-2{
    color: #FFFFFF;
    background: var(--second-color);
    margin-bottom: 25px;
}  
.bg-2:hover{
    background: blueviolet;
}
/* Section-one */
.section1{
    background: url(../images/banner-bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    margin:  0;
}
.section1 .box-head{
    text-align: center ;
}
.section1 .box-head .inner-title{
    font-size: 35px;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 45px !important;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;

}
.section1 .box-head .inner-des{
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 400;
    margin-bottom: 45px !important;
    max-width: 600px;
    margin: auto;
}
.section-sub1 .inner-item{
    background: #FFFFFF;
    padding: 25px;
    text-align: center;
    border-radius: 25px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    margin-bottom: 25px;
    margin-top: 25px;
}
.section-sub1{
    padding: 80px 0;
    margin-top: -260px;
}
.section-sub1 .inner-item .inner-title{
    font-size: 18px;
    color: var(--color-text);
    font-weight:500;
    margin-bottom: 25px;
}
.section-sub1 .inner-item .inner-des{
    font-size: 14px;
    color: #777777;
}
.section-sub1 .logo {
    background: var(--first-color);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10PX;
   
}
.section-sub1 .logo img{
   width: 100%;
   height: 100%;
   object-fit: contain;
}
.section-sub1 .inner-item:hover .logo{
    background:var(--second-color);
}
@media (max-width: 991.98px) {
    .section-sub1{
        margin-top: 0 ;
        padding: 50px 0;
    }

}
/* End 1 */

/* Section2 */
.section2{
    padding: 80px 0;
}
.section2 .inner-img{
    text-align: center;
}
.section2 .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section2 .content .title{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
}
.section2 .content .inner-desc{
    color: var(--color-des);
}
.section2 hr{
    margin: 75px 0;
}
@media(max-width:991.98px){
    .section2 .inner-img{
        text-align: center;
        width: 30%;
        height: auto;
        margin: auto;
    }
    .section2 .inner-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .section2 .content{
        margin-top:  25px;
    }
    .section2 .content-below{
        margin-bottom: 25px;
    }
    .section2 .inner-desc{
        font-size: 1.75vh;
    }

}
.section3{
    padding: 80px 0;
    background: url(../images/work-process-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.section3 .box-head{
    text-align: center;
    margin-bottom: 25px;
}
.section3 .box-head .title{
    font-size: 28px;
    color:#FFFFFF;
    margin-bottom: 15px;
    font-weight: 600;
}
.section3 .box-head .desc{
    color: #FFFFFF;
    max-width: 600px;
    margin: auto;
}
.section3 .inner-item{
    background: #FFFFFF;
    margin-bottom: 25px;
    text-align: center;
    padding: 15px 25px;
    border-radius: 15px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.section3 .inner-item .inner-title{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000;
    font-weight: 500;
}
.section3 .inner-item .des{
    color: #777777;
}

/* End 3 */

/* Section 4 */
.section4{
    padding: 80px 0;
}
.section4 .inner-img img{
    width: 60px;
    height: 60px;
}
.section4 .box-head{
    text-align: center;
    margin-bottom: 65px;
}
.section4 .box-head .inner-title{
        font-size: 28px;
        color: #000;
        font-weight: 500;
}
.section4 .box-head .inner-des{
    color: #777777;
    max-width: 600px;
    margin: auto;
    margin-top: 25px
}
.section4 .inner-item{
    background: #FFFFFF;
    text-align: center;
    border-radius: 25px;
    padding: 34px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-bottom: 25px;
}
.section4 .inner-item .inner-content{
    color: #777777;
    margin: 25px 0;
    text-align: left;
    margin: auto;
    margin: 25px 0;

}
.section4 .inner-people{
    display: flex;
    align-items: center;
}
.section4 .inner-people .inner-name{
    color: var(--color-text);
    font-weight: 500;

}
.section4 .inner-info{
    text-align: left;
    margin-left: 15px;
    transition: margin-left 0.3s ease-in-out;
}
.section4 .inner-item:hover .inner-info{
    margin-left: 25px;
}
.section4 .inner-people .inner-job{
    color: #777777;
}
.section4 .inner-people .inner-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.section4 .inner-people .inner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* End section 4 */

/* Section 5 */
.section5{
    padding: 80px 0;
    background: #F2F2FE;
}
.section5 .box-head{
    text-align: center;
    margin-bottom: 65px;

}
.section5 .inner-title{
    font-size: 21px;
    color: var(--color-text);
    font-weight: 500 ;
    margin-bottom: 25px;
}
.section5 .inner-desc{
    font-size: 16px;
    color: #777777;
    max-width: 600px;
    margin: auto;
}
.section5 .inner-box{
    padding: 45px 15px;
    background: #FFFFFF;
    text-align: center;
    border-radius:25px ;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .11);
    margin-bottom: 25px;

}
.section5 .inner-box .price{
    display: inline-block;
    background: #8261EE;
    border-radius: 15px;
    padding: 15px 100px;
    height: auto;
    margin: auto;
    
}
.section5 .inner-box .price-two{
    background: var(--second-color);

}
.section5 .inner-box .price .money{
    color: #FFFFFF;
    font-size: 17.5px;
    font-weight: 500;
}
.section5 .inner-box .price .annua{
    color: #FFFFFF;
    font-size: 13px;
}
.section5 .inner-box .features{
    margin-bottom: 25px;
    color: var(--color-text);
    font-weight: 600;
}
.section5 .inner-box .inner-content{
    margin-top: 25px;
    color: #777777;
    font-size: 10px;
    line-height: 4vh;
    
}
.section5 .inner-box .inner-purchase{
    margin-top: 15px;
    background: var(--first-color);
}
.section5 .inner-box .inner-purchase a  {
    font-size: 10px;
    color: #FFFFFF;
}
.section5 .inner-box .inner-purchase:hover{
    background: var(--second-color);
}
/* End Section 5 */


/* Section 6 */
.section6{
    padding: 80px 0;
    background: url(../images/fun-facts-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.section6 strong{
    font-size: 25px;
    color: #FFFFFF;
}
.section6 span{
    font-size: 15px;
    color: #FFFFFF;
}
.section6 .inner-content{
    position: relative;
}
.section6 .inner-content::after{
    content: '';
    position: absolute;
    width: 70%;
    height: 32px;
    top: 10px;
    left: 30%;
    background: url(../images/circle-dec.png) center center no-repeat;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
@media (max-width:991.98px){
    .section6 .inner-content::after{
        display: none;
    }
    .section6 .inner-content{
        text-align: center;
    }

}
@media(max-width:767.98px){
    .section6 .inner-content{
        margin-bottom: 16px;
    }
    

}
/* End section 6 */

/* Section 7 */
.section7{
    padding: 80px 0;
}
.section7 .box-head{
    text-align: center;
    margin-bottom:50px;
}
.section7 .box-head .inner-titile{
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 25px;
}
.section7 .box-head .inner-des{
    font-size: 15px;
    color: #777777;
    max-width: 600px;
    margin: auto;
}
.section7 .inner-item{
    text-align: center;
    margin-bottom: 25px;
}
.section7 .inner-item .inner-title{
    font-size: 18px;
    color: var(--color-text);
    font-weight: 500;
    margin: 15px 0;
}
.section7 .inner-item .inner-des{
    font-size: 12px;
    color: var(--color-des);
    margin-bottom: 25px;
}
.section7 .read{
    font-size: 10px;
    background: var(--first-color);
    color: #FFFFFF;
}
.section7 .read:hover{
    background: var(--second-color);
    cursor: pointer;
}
.section7 .inner-item .inner-img{
    width: 80%;
    margin: auto;
    height: auto;

}
.section7 .inner-item .inner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* End section 7 */

/* Section-form */
.section-form{
    padding: 80px 0;
    background: #F2F2FE;
}
.section-form .box-head{
    text-align: center;
    margin-bottom: 45px;
}
.section-form .box-head .inner-title{
    font-size: 25px;
    font-weight:600 ;
    margin-bottom: 25px;
}
.section-form .box-head .inner-des{
    color: #777777;
    font-size: 13px;
    margin: auto;
}
.section-form .inner-content{
    margin-bottom: 45px;
}
.section-form .inner-content .inner-title{
    font-size: 18px;
    color: var(--color-text);
    font-weight: 500;
}
.section-form .inner-des1{
    margin: 20px 0;
    color: #777777;
    text-align: left;
    font-size: 13px;
}
.section-form .inner-des2{
    color: #777777;
    text-align: left;
    font-size: 13px;
}
.section-form input{
    width: 100%;
    border-radius: 12px;
    padding: 8px;
    margin-bottom: 25px;
    font-size: 12px;
    border: none;
}
.section-form input:focus{
    border: 2px solid var(--first-color);
    outline: none;
}
.section-form textarea{
    width: 100%;
    height: 150px;
    padding: 5px;
    border-radius: 8px;
    font-size: 12px;
    border: none;


}
.section-form textarea:focus{
    border: 2px solid var(--first-color);
    outline: none;
}
.section-form .submit{
    margin-top: 15px;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    background: var(--first-color);
    cursor: pointer;
}
.section-form .submit:hover{
    background: var(--second-color);
}
/* End-form */

/* Footer */
.footer{
    padding: 40px 0;
    background: var(--first-color);
}
.footer .box-icon{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.footer .box-icon ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.footer .box-icon ul li{
    margin-left: 25px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    cursor: pointer;
    color: var(--first-color);
}
.footer .box-icon ul li:hover{
    background: var(--second-color);
}
.footer .inner-content{
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    background: var(--second-color);
    margin: auto;
    display: inline-flex;
    margin: auto;
}
hr {
    border-color: #4CAF50;
  }
/* End Footer */